[submodule "libs/googletest"]
	path = libs/googletest
	url = https://github.com/google/googletest
[submodule "libs/libsodium"]
	path = libs/libsodium
	url = https://github.com/jedisct1/libsodium.git
[submodule "libs/re2"]
	path = libs/re2
	url = https://github.com/google/re2.git
