[submodule "libs/googletest"]
	path = libs/googletest
	url = https://github.com/google/googletest
[submodule "libs/libsodium"]
	path = libs/libsodium
	url = https://github.com/jedisct1/libsodium.git
[submodule "libs/rapidcsv"]
	path = libs/rapidcsv
	url = https://github.com/d99kris/rapidcsv.git
